<footer class="p-5 d-md-flex gap-5 justify-content-around">
    <!-- Texto explicativo -->
    <div class="text-center">
        <h4 class="fw-bold">Bienvenidos a nuestra aplicación web</h4>
        <p class="text-start text-danger fst-italic fw-semibold text-md-center"><span>Aplicación desarrollada por</span></p>
        <div class="fs-4">
            <p>Cristhian David Velasquez Vega</p>
            <p>Helver Garcia Herrera</p>
        </div>
    </div>
    <!-- Declaración de derechos -->
    <div>
        <div class="bg-light p-2 b-rounded d-flex flex-column border border-warning border-5 rounded text-center">
            <p class="text-warning fw-bold fs-3 m-0">Universidad Iberoamericana</p>
            <p class="m-0 fw-semibold">Desarrollada por estudiantes de ingeniería de software</p>
        </div>
        <p></p>
    </div>
</footer>
