<div *ngIf="noticia" class="d-flex flex-sm-wrap flex-md-nowrap">
    <!-- Información de la noticia -->
    <div class="d-inline container">
        <h2 class="fw-bold">{{mayuscula(noticia.titulo)}}</h2>
        <p class="text-sm-end text-md-start fst-italic">{{mayuscula(noticia.autor)}}</p>
        <p>{{mayuscula(noticia.descripcion)}}</p>
    </div>
    <!-- Imagen de la noticia -->
    <div class="container">
        <img [src]="noticia.imagenURL" class="img-fluid" alt="Esta es una imagen de {{noticia.titulo}}">
    </div>
</div>
<div *ngIf="!noticia">
    <p>Ha un error, la noticia no se encontro</p>
</div>